:root {

    --primary: rgb(92, 127, 159);
    --primaryred: rgb(159, 92, 92);
    --primarygreen: rgb(92, 159, 133);

    --primarylight: rgb(232, 244, 255);
}

/* Reset styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* Page styles */

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    height: calc(100%);
    height: 100%;
    display: flex;
    position:static;
    top: 0;
    left: 0;
    padding: 40px;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    text-align: center;
    flex-direction: column;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 55%, rgba(10, 119, 221, 0.3) 100%) fixed;
}

@media (max-width: 800px) {
    body {
        justify-content: unset;
    }
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    /* align-items: center;
    justify-content: center; */
}

@media (max-width: 800px) {
    body {
        justify-content: unset;
    }
}

/* Title styles */

.title h1 {
    font-size: 60px;
    font-weight: bold;
    color: var(--primary);
}

.title h2 {
    font-size: 24px;
    color: grey;
}

.links, .bio {
    margin-top: 20px;
}

.links .icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: background-color 0.2s, transform 0.2s;
    background-color: rgba(255, 255, 255, 0.8);
}

.links .icon.borderless {
    padding: 4px;
}

.links .icon:hover {
    background-color: var(--primarylight);
    transform: scale(1.1);
}

/* Experience & Education styles */

.subtitle {
    display: flex;
    width: 100%;
    font-size: 24px;
    color: grey;
    text-align: left;
}

.subtitle .text {
    border-bottom: 2px solid grey;
    padding-right: 20px;
}

.point {
    padding: 10px 0;
    font-size: 18px;
    text-align: justify;
    gap: 10px;
}

.point img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}

.point i {
    color: grey;
    font-style: italic;
}

.point a {
    color: var(--primary);
    font-weight: bold;
}

.point a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* Generic styles */

.break {
    margin-top: 40px;
}

.line {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: black;
}