html, body {
    height: 80%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: monospace;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 55%, rgba(10, 119, 221, 0.3) 100%) fixed;
}

a {
    color: darkcyan;
    text-decoration: none;
}

img.icon {
    height: 1em;
    transform: translateY(2px);
}

.lighter {
    color: grey;
}

#debt {
    color: darkcyan;
}

